<h1>WordGames#score</h1>
<div> <%= @grid %>
<%= @attempt %></div>
<div> <%= @time_start %></div>
<div> <%= @time_end %> </div>
<div> <%= @time_taken %> </div>
<div> <%= @score.first%>, <%= @score.last%> </div>



<p>Find me in app/views/word_games/score.html.erb</p>
